a {
  color: black;
}
html {
  font-size: 14px; /* px значит 'пиксели': базовый шрифт будет 10 пикселей в высоту  */
  font-family: 'Karla', sans-serif; /* шрифт который я выбрал с google fonts */
  background-color: #9b9b9b;
}
body {
  width: 800px;
  margin: 0 auto;
  background-color: #b583e4;
  padding: 0 20px 20px 20px;
  border: 2px solid black;
}
h1 {
  font-size: 40px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 2px 2px 1px black;
}
h3 {
  font-size: 30px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 1px 1px 1px black;
}
img {
  display: block;
  margin: 0 auto;
}
p, li {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 1px;
}